<div class="container">
  <div class="row top">
    <div class="col-sm-12">
        <h2 >Reset Password</h2>
    </div>
    <form [formGroup]="passForm" (ngSubmit)="changePassword(passForm.value)" class="col-sm-8">
      <div class="form-group col-sm-6">
          <label>Password*</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Email">
        <div *ngIf="passForm.controls['password'].errors && passForm.controls['password'].touched" class="error-msg">
          <div [hidden]="!passForm.controls['password'].errors.required">You have to fill in password to login.</div>
        </div>
      </div>
      <div class="form-group col-sm-6">
          <label>Confirm Password*</label>
        <input type="password" class="form-control" formControlName="cpassword" placeholder="Password">
        <div *ngIf="passForm.controls['cpassword'].errors && passForm.controls['cpassword'].touched" class="error-msg">
          <div [hidden]="!passForm.controls['cpassword'].errors.required">You have to fill in confirm password to login.</div>
          <div [hidden]="!passForm.controls['cpassword'].errors.MatchPassword">Password mismatch.</div>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <input type="submit" class="col-sm-4 btn btn-primary" value="Change Password" [disabled]="!passForm.valid"/>
        <label class="">
          Remember password? <a routerLink="/login">Sign in</a>
        </label> 
      </div>
    </form>
    <div class="col-sm-12" *ngIf="msg">
      <h3>Password changed successfully. Please Login now with new password</h3>
    </div>
  </div>
</div>